
body {
    font-family: Consolas;
}

.charts
{
    width:75%;
}

.charts2
{
    width:75%;
}

.calendar-container .fc-event
{
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #701E1E;
    font-size: .85em;
    cursor: default;
}

.calendar-container td.highlight .fc-event
{
    border: 1px solid red;
    background-color: #ffffff;
    color: #701E1E;
    font-size: .85em;
    cursor: default;
}

.header .navbar-inner
{
    height: 40px;
}

.online{
    font-size: 10px;
    color: lightgray;
}

.list-input input
{
    color:gray;
}


.list-input input:focus
{
    color:black;
}

table select
{
    width:110px;
}

table input
{
    width:150px;
}

.modal.fade.in {
    top: 50%;
}

div .webuploader-pick {
    /* position: relative; */
    height: 18px;
    display: inline-block;
    cursor: pointer;
    background: #00b7ee;
    padding: 8px 10px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}